<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mock.Username" value="mock-user" />
    <add key="Mock.Password" value="MockDemo!2026" />
    <add key="Mock.GatewayProxyBasePath" value="/proxy" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="4.5" maxUrlLength="65534" maxQueryStringLength="65534" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxUrl="65534" maxQueryString="65534" />
      </requestFiltering>
    </security>
    <webSocket enabled="true" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
